.container{
    display: flex;
    flex-direction: column;
}
h1{
    margin: 15px;
}
form{
    display: flex;
    flex-direction: column;
    mat-form-field{
    margin: auto;
    width: 70%;
    }
}
.categorias form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0;
    .editar,.crear{
        display: flex;
        flex-direction: column;
    }
    mat-form-field{
        width: 90%;
    }
}
.productos{
    text-align: center;
    padding-bottom: 20px;
}

.boton-imagenes{
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    input,button{
        max-width: 150px;
        position: absolute;
    }
    input{
        width: 146px;
        height: 38px;
        opacity: 0;
        z-index: 2;
    }
    button{
        width: 150px;
        height: 40px;
        opacity: 1;
        z-index: -1;
    }
}

.layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    div{
        position: relative;
    }
    img{
        max-width: 250px;
        max-height: 400px;
        transition: .5s;
    }
    img:hover{
        transition: .5s;
        opacity: 0.6;
    }
    p{
        transition: .5s;
        position: absolute;
        opacity: 0;
        color: rgb(0, 0, 0);
        top: 10px;
        left: 10px;
        font-size: 30px;
    }
    img:hover ~ p{
        opacity: 1;
        transition: .5s;
    }
}

button{
    margin: auto;
}
mat-progress-spinner{
    position: absolute;
    top: 50%;
    left: 40%;
}

@media(max-width:760px){
    h1{
        margin: 15px;
    }
    form{
        display: flex;
        flex-direction: column;
        mat-form-field{
        margin: auto;
        width: 90%;
        }
    }
    .imagen,.tallesProducto{
        width: 90%;
        flex-direction: column;
        overflow: hidden;
            img{
                margin: 20px;
            }
    }
    .categorias form{
        flex-direction: column;
    }
}