<app-carousel [unitsPerView]="1" [sizing]="['100%',carouselHeigth]" [autoplay]="true" [imagenes]="imagenesCarousel" ></app-carousel>

<div *ngIf="this.products.length > 0" class="carousel">
<h2>CONOCÉ NUESTRA AMPLIA VARIEDAD DE PROMOCIONES</h2>
  <app-carousel [dots]="true" [unitsPerView]="itemsPromo" [sizing]="['100%','25vh']" [autoplay]="true" [imagenes]="this.products">
  </app-carousel> 
</div>

<app-products></app-products>

<div class="banner-container">
  <h2>¡Trabajamos con las mejores marcas!</h2>
  <div class="logos-container">
    <img src="../../../assets/jbl-logo.png">
    <img src="../../../assets/sam-logo.png">
    <img src="../../../assets/sony-logo.png">
    <img src="../../../assets/apple-logo.png">
    <img src="../../../assets/motorola-logo.png">
  </div>
</div>

<app-ingresos class="ingresos"></app-ingresos> 
