<div class="inventario">
    <div class="container">
      <h1>Inventario</h1>
      <mat-form-field appearance="outline">
        <input type="text" matInput [formControl]="busquedaProductos">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
        <table>
            <tr class="titulo">
              <th>Nombre</th>
              <th>Stock</th>
              <th>Precio</th>
              <th>Descripción</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
            <ng-container *ngIf= "(productos | filter:busquedaProductos.value) as resultado">
                <tr *ngFor="let producto of productos | filter:busquedaProductos.value; let i = index">
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.stock}}</td>
                  <td>{{producto.precio}}</td>
                  <td>{{producto.descripcion}}</td>
                  <th><button mat-icon-button (click)="editarProducto(producto)" color="info">
                    <mat-icon>border_color</mat-icon>
                  </button></th>
                  <th><button mat-icon-button (click)="borrarProducto(producto,producto._id,i)" color="warn">
                    <mat-icon>delete</mat-icon>
                  </button></th>
                </tr>
            </ng-container>
            <ng-template #elseBlock>
              <p>No hay coincidencias</p>
              </ng-template>
          </table>
    </div>
</div>
