<nav class="animenu" role="navigation" aria-label="Menu">
  <button class="animenu__btn" type="button" #menuButton (click)="changeScreen($event)">
    <span class="animenu__btn__bar"></span>
    <span class="animenu__btn__bar"></span>
    <span class="animenu__btn__bar"></span>
  </button>

  <ul class="animenu__nav" #nav>
    <li class="logo">
      <a routerLink="/home">
        <img src="../../../assets/impacto_logo_transparente.png" alt="impacto_tienda" loading="lazy">
      </a>
    </li>
    <li><a routerLink="/home">Home</a></li>
    <li>
      <a class="animenu__nav__hasDropdown" aria-haspopup="true">Productos</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li *ngFor="let cat of this.categorias"><a routerLink="products/categoria/{{cat}}" role="menuitem">{{cat}}</a></li>
      </ul>
    </li>
    <li><a routerLink="/contact">Contacto</a></li>
    <li>
      <a mat-button color="primary" [matMenuTriggerFor]="menu">Carrito<mat-icon
        [matBadge]="badge()">shopping_cart</mat-icon></a>
      </li>
    <div class="spacer"></div>
    <li *ngIf="!existsToken"><a routerLink="/login">Ingresar</a></li>
    <li *ngIf="!existsToken"><a routerLink="/register">Registrarse</a></li>
    <li (click)="outSession()" *ngIf="existsToken"><a>Cerrar Sesion</a></li>
    <mat-menu #menu>
      <div class="order">
        <p><strong>TOTAL: {{total() | currency}}</strong></p>
        <p mat-menu-item routerLink="/order">
          <mat-icon>shopping_cart</mat-icon>
          Ver Carrito
        </p>
      </div>
    </mat-menu>
  </ul>
</nav>
