<footer>
    <div class="footer-container">
        <div>
            <h3>Conocé Nuestras Sucursales</h3>
            <ul>
                <li><a href="#">Sarmiento 741, Formosa</a></li>
                <li><a href="#">Córdoba 682–700, Corrientes</a></li>
                <li><a href="#">Te esperamos 09:00 a 13:00 - 17 a 21</a></li>
            </ul>
        </div>
        <div>
            <h3>Contacto</h3>
            <ul>
                <li><a routerLink="/contact">Formulario de contacto</a></li>
                <li><a href="https://api.whatsapp.com/send/?phone=5493704579432&text&type=phone_number&app_absent=0" target="_blank">Atención al cliente</a></li>
            </ul>
        </div>
        <div>
            <h3>Seguinos en redes</h3>
            <ul>
                <li><a href="https://www.facebook.com/impactotiendafsa" target="_blank">
                    <i><img src="../../../assets/fb-icon.png" alt=""></i>
                    Facebook</a>
                </li>
                <li><a href="https://www.instagram.com/impactotiendafsa/" target="_blank">
                    <i><img src="../../../assets/ig-icon.png" alt=""></i>
                    Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- 
<div class="redes">
    <a class="ig" href="https://www.instagram.com/accesoriosvelka/" target="_blank"><img
            src="../../../assets/ig-icon.png" alt="logo-instagram-velka"></a>
    <a class="ig" href="https://wa.link/e6jjkf" target="_blank"><img src="../../../assets/wp-icon.png"
            alt="logo-whatsapp-velka"></a>
    <i><img src="../../../assets/visa-icon.png" alt=""></i>
    <i><img src="../../../assets/mp-icon.png" alt=""></i>
    <i><img src="../../../assets/fb-icon.png" alt=""></i>
    <i><img src="../../../assets/master-icon.png" alt=""></i>
</div> -->