<h2>NUEVOS INGRESOS</h2>
<div class="offer">
    <div class="container" *ngIf="productos.length > 1" (click)="this.showDetails(0)">
        <div class="card_left">
            <img [src]="this.productos[0]?.img[0]">
        </div>
      <div class="card_right">
          <span>Nuevo ingreso</span>
          <h3>{{this.productos[0]?.nombre}}</h3>
          <p>{{this.productos[0]?.descripcion}} </p>
          <div class="card_footer">
              <span class="price">${{this.productos[0]?.precio}}</span>
              <a class="btn">
                  Agregar
                </a>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="productos.length > 1" (click)="this.showDetails(1)">
        <div class="card_left">
            <img [src]="this.productos[1]?.img[0]">
        </div>
      <div class="card_right">
          <span>Nuevo ingreso</span>
          <h3>{{this.productos[1]?.nombre}}</h3>
          <p>{{this.productos[1]?.descripcion}} </p>
          <div class="card_footer">
              <span class="price">${{this.productos[1]?.precio}}</span>
              <a class="btn">
                  Agregar
                </a>
            </div>
        </div>
    </div>
</div>